.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0C1821;
    width: 300px;
    flex: 0.7;
    z-index: 1;
}

.logo {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    /* margin-top: 2rem; */
    border-bottom: 1px solid #fff;
    padding: 1.5rem;
}

.logo span {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
    gap: 1rem;
}

.menu-item span {
    color: #fff;
    font-size: 1.5rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
}