.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0C1821;
    width: 300px;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 1.5rem;
}

.logo span {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
    gap: 1rem;
}

.menu-item span {
    color: #fff;
    font-size: 1.5rem;
}

.menu-item:hover {
    background: #121e32;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    color: #fff;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.hamburger span {
    display: flex;
    align-items: center;
}

.active {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo a {
    text-decoration: none;
}

@media (max-width: 800px) {
    .sidebar {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .logo {
        padding: 1rem;
    }
}