.comments-modal {
    position: fixed;
    background: #34343493;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    animation: fadeIn 0.1s ease-in-out;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.comments-wrapper {
    background: #fff;
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    position: relative;
    z-index: 999;
}

.close {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: .5rem;
}

.post-info {
    flex: 1;
    display: flex;
    border-right: 1px solid #eee;
    padding: 1.5rem;
    flex-direction: column;
}

.comments {
    flex: 1;
    overflow-y: auto;
}

.comments-text {
    display: none;
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1.3rem;
}

@media (max-width: 800px) {
    .comments-wrapper {
        width: 95%;
        height: 90%;
        flex-direction: column;
    }

    .post-info {
        display: none;
    }

    .comments-text {
        display: block;
    }
}