.title a h2 {
    font-size: 1.3rem;
    color: #000;
}

.title a {
    text-decoration: none;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-bottom: 1px solid #bababa;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.body {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
}

.comments-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
    padding: .6rem;
    background: #1B2A41;
    color: #fff;
    border-radius: 1rem;
}