.title h2 {
    font-size: 1.2rem;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-bottom: 1px solid #bababa;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.body {
    margin-bottom: 1rem;
}

/* .title {
    background: #2e2e2e;
    color: #fff;
    padding: .7rem;
    border-radius: .5rem .5rem 0 0;
}

.body {
    padding: 1.5rem .7rem;
    background: #eee;
    border-bottom: 1px solid #000;
} */

.buttons {
    /* border-radius: 0 0 .5rem .5rem; */
    /* background: #eee; */
    display: flex;
}

.comments-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
    /* padding: .7rem; */
}