.post-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--secondary-detail-color);
    height: 100vh;
    padding-left: 300px;
    align-items: center;
    overflow: auto;
}

.post-page-post {
    padding: 4rem 2rem;
    border-right: 2px solid var(--secondary-detail-color);
    position: relative;
}

.post-page-post a {
    color: #000;
}

.post-page-comments h3{
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
}

.post-page-comment {
    padding: 2rem;
    border-bottom: 1px solid var(--secondary-detail-color);
}

.post-page-comment:last-child {
    border-bottom: none;
}

.post-page-comment-user {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.post-page-comment-name {
    font-weight: bold;
    margin-bottom: .2rem;
}

.post-page-comment-email {
    margin-bottom: 1rem;
}

.post-page-comment-email p {
    font-size: .8rem;
    color: #868686;
}

.post-wrapper {
    margin: 0 12rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.return-button {
    position: absolute;
    top: 1rem;
}

@media (max-width: 800px) {
    .post-container {
        padding-left: 0;
        padding-top: 6rem;
    }

    .post-page-comments, .post-page-post {
        border-top: none;
    }

    .post-wrapper {
        flex-direction: column;
        margin: 0 4rem;
        padding: 0;
    }

    .post-page-comments h3{
        padding: 1rem 1rem 0 1rem;
    }
    
    .post-page-comment {
        padding: 1rem;
    }

    .post-page-post {
        border-right: 0;
        border-bottom: 1px solid #393939;
        padding: 3rem 1rem 1rem 1rem;
    }
}

@media (max-width: 600px) {
    .post-wrapper {
        flex-direction: column;
        margin: 0 2rem;
    }
}

@media (max-width: 500px) {
    .post-wrapper {
        flex-direction: column;
        margin: 0 1rem;
    }
}